@import "compass";
@import "compass/reset";
@import "blueprint/fancy-type";

@charset "utf-8";
$heading_color: #3979A1;
$document_fonts: arial,helvetica,freesans,clean,sans-serif;

html body {
  font: 13.34px $document_fonts;
}

#heading {
  background-color: $heading_color;
  height: 49px;
  width: 100%;

  #account {
    padding: 15px;
    color: #fff;

    a {
      color: #fff;
      background-color: darken( $heading_color, 5% );
      border: 1px solid darken( $heading_color, 10% );
      text-decoration: none;
      padding: 3px 5px;
      @include border-radius;

      &:hover {
        background-color: darken($heading_color, 15%);
        color: #fff;
      }
    }
  }
}

#wrapper {
  width: 980px;
  margin: 80px auto 0;
  position: relative;
  padding: 10px 0;
  background-color: #F3F5ED;
  border: 1px solid gray;
  @include border_radius();

  a {
    color: $heading_color;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover { text-decoration: underline; }

  #nav {
    float: left;

    a {
      background-color: #6D9BBB;
      padding: 10px 15px;
      color: #fff;
      text-decoration: none;
      border: 1px solid #3979a1;
      @include border-radius();
    }

    a.selected { background-color: $heading_color; }

    a:hover {
      background-color: $heading_color;
    }
  }

  #account_info {
    position: absolute;
    right: 50px;
  }
}

#page_content {
  padding: 0 10px;

  table {
    width: 100%;
    border: 1px solid #3979A1;

    tr td {
      padding: 5px 10px;
    }

    tr.odd td {
      background-color: #fff;
      color: #333;
    }

    tr.even td {
      background-color: #6D9BBB;
      color: #fff;
    }

    thead tr th{
      background-color: $heading_color;
      padding: 10px;
      color: #fff;
      text-align: left;
    }
  }

  #tool_bar {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 50px;
    background-color: #6D9BBB;

    #teacher_info {
      float: left;
      color: #fff;
      padding: 0 15px;
    }

    #search_box {
      float: right;
      margin-right: 15px;
    }

    label {
      color: #fff;
      font-weight: bold;
    }

    input {
      padding: 5px;
      border: 1px solid $heading_color;
    }
  }
}

.column {
  width: 50%;
  float: left;
}

.column #image_frame {
    background-color: #FFFFFF;
    border: 1px solid #333333;
    height: 140px;
    margin: 5px 5px 5px 29px;
    width: 175px;
}

.clear {
  clear: both;
}

#devise_links {
  padding: 10px;
}

.columns {
  margin: 25px auto;
  padding: 10px 0;
  width: 960px;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;

  .column {
    width: 440px;
    padding: 5px;
  }

  .column.main {
    float: left;
  }

  .column.secondary {
    float: right;
  }
}

fieldset {
  form {
    label {
      display: block;
      font-weight: bold;
      line-height: 19px;
      padding: 5px 0;
    }

    .text {
      padding: 5px;
      border: 1px solid #BBB;
      width: 90%;
    }

    input[type=submit] {
      margin: 5px 0;
    }
  }
}